[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/opencv_contrib"]
	path = third_party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost
[submodule "third_party/suite_sparse"]
	path = third_party/suite_sparse
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/viola"]
	path = third_party/viola
	url = https://github.com/symao/viola
[submodule "third_party/pangolin"]
	path = third_party/pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11
[submodule "third_party/ceres"]
	path = third_party/ceres
	url = https://github.com/ceres-solver/ceres-solver
[submodule "third_party/sophus"]
	path = third_party/sophus
	url = https://github.com/strasdat/Sophus
[submodule "third_party/cmake"]
	path = third_party/cmake
	url = https://github.com/Kitware/CMake
